<mat-toolbar style="background-color: #304532 !important">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      LOGO
    </button>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="display: flex; flex-direction: row;justify-content: space-around;align-items: stretch;">
      <mat-icon>more_vert</mat-icon> 
      <span style="padding: 6%;">Menu</span>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navigate('home')">
          <span>Home</span>
        </button>
        <button mat-menu-item (click)="navigate('vision')">
          <span>Vision</span>
        </button>
        <button mat-menu-item (click)="navigate('little-farm')">
          <span>The little farm</span>
        </button>
        <button mat-menu-item (click)="navigate('store')">
          <span>Our products</span>
        </button>
        <button mat-menu-item (click)="navigate('contact')">
          <span>Contact</span>
        </button>
        <button mat-menu-item (click)="navigate('cart')" *ngIf="mainService.isAuthenticated()">
          <span>Cart</span>
        </button>
        <button mat-menu-item (click)="logout()" *ngIf="mainService.isAuthenticated()">
          <span>Logout</span>
        </button>
        <button mat-menu-item (click)="navigate('login')" *ngIf="!mainService.isAuthenticated()">
          <span>Login</span>
        </button>
    </mat-menu>
</mat-toolbar>