<h1 style="margin-top: 2%;color: black;margin-left: 2%"><b>GET IN TOUCH</b></h1>

<form fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="1px" style="margin-top: 2%; width: 25%;margin-left: 2%">

    <mat-form-field appearance="outline" fxFlex="45">
      <mat-label>First Name</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="45">
        <mat-label>Last Name</mat-label>
        <input matInput>
      </mat-form-field>

      
    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Email</mat-label>
      <input matInput type="email">
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Phone</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Company</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Message</mat-label>
        <input matInput>
    </mat-form-field>


    <span style="color: black;"><mat-icon>arrow_forward</mat-icon> <b style="vertical-align: top;">SEND MESSAGE</b></span>

</form>

<section id="section9">
  <div class="ninth-section">
      <h1 style="font-size: 10em;padding-top: 2%;width: 100%;  letter-spacing: 62px;">GREEN HOME</h1>
  </div>
</section>