<section id="section1">
    <div class="first-section">
        <div fxLayout="row wrap" fxLayoutAlign="space-around center" style="height: 50vh;">
            <div fxFlex="40">
                <h1 style="font-size: 4em;"><b>A BETTER</b></h1><br>
                <h1 style="font-size: 4em;"><b>FOOD SYSTEM</b></h1>
            </div>
            <div fxFlex="40">
                <pre style="padding-top: 10%">
                    Our advanced farming system decouples 
                    food production from negative impacts 
                             on our ecosystems and sets a 
                        foundation for a more sustainable, 
                    efficient and environmentally friendly 
                                              food system.
                </pre>
            </div>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="space-around center" style="background-color: #304532;height: 40vh;">
            <h1 style="font-size: 3em;color: #98FD68"><b>LESS LAND</b></h1>
            <h1 style="font-size: 3em;color: #98FD68"><b>LESS WATER</b></h1>
            <h1 style="font-size: 3em;color: #98FD68"><b>LESS MILES</b></h1>
            <h1 style="font-size: 3em;color: white"><b>LESS CHEMICALS</b></h1>
        </div>
    </div>
</section>

<section id="section2">
    <div class="second-section">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxflex="70" style="padding-left: 5%">
                <h1 style="font-size: 5em;color: white"><b>CREATING A</b></h1><br>
                <h1 style="font-size: 5em;color: white"><b>DIFFERENCE</b></h1><br>
                <pre style="font-size: 1.6em;">
The way humanity currently produces and
transports food contributes to climate 
change and damages Mother Nature. In 
fact, the UN Environment Program has 
determined that agriculture and food 
production are the primary drivers of 
biodiversity loss and land degradation. 
Our approach and technology offer many 
solutions to the shortcomings of the 
current food system.
                </pre>
            </div>
            <div fxFlex="30">
                <img src="assets/vision.svg" style="height: 100vh">
            </div>
        </div>
    </div>
</section>



<section id="section3">
    <div class="third-section">
        <div fxLayout="row wrap" fxLayoutAlign="space-around center">
            <div fxFlex="50" style="padding-left: 10%;padding-top: 15%">
                <span class="stroke" style="font-size: 4em;">PUTTING PEOPLE</span> <br><br>
                <span class="stroke" style="font-size: 4em;">AND PLANT FIRST</span>
            </div>
            <div fxFlex="50" style="padding-top: 10%">
                <h1 style="font-size: 4em;"><b>A VISION FOR</b></h1><br>
                <h1 style="font-size: 4em;"><b>THE FUTURE</b></h1><br>
                <pre style="font-size: 2em;">
In our first Impact Vision Paper, we share<br> 
our ambitions, goals, and commitments to <br>
create a new sustainable food system. We <br>
also shed light on the science, <br>
technology, and innovation that goes into <br>
making infarming sustainable and <br>
impactful.
                </pre>
            </div>

        </div>
    </div>
</section>

<section id="section8">
    <div class="eigth-section">
        <h1 style="font-size: 6em;padding-top: 2%;margin-left: 25%">GET IN TOUCH</h1> <br>
        <h1 style="font-size: 6em;margin-top: 2%;margin-left: 32%">WITH US</h1> <br>
        <h1 style="font-size: 2em;margin-top: 2%;margin-left: 35%"><mat-icon style="transform: scale(1.5);">arrow_forward</mat-icon> CONTACT US </h1> <br>
    </div>
</section>

<section id="section9">
    <div class="ninth-section">
        <h1 style="font-size: 10em;padding-top: 2%;width: 100%;  letter-spacing: 62px;">GREEN HOME</h1>
    </div>
</section>

