<section id="section1">
    <div class="first-section">
        <div style="padding-top: 20%; padding-left: 30%">
            <h1 style="font-size: 4em;"><b>Grow your own food at</b></h1><br>
            <h1 style="font-size: 4em;"><b>home, anytime of the year</b></h1><br>
        </div>
        <div fxflex="row" fxLayoutAlign="center center" fxLayoutGap="50px">
            <button class="custom-button-block" fxflex="25" style="width: 12vw;height: 8vh;">LEARN MORE</button>
            <button class="custom-button-block" fxflex="25" style="width: 12vw;height: 8vh;">SHOP NOW</button>
        </div>
    </div>
</section>

<section id="section2">
    <div class="second-section">
        <div style="padding-top: 8%;">
            <h1 style="font-size: 3em;padding-left: 40%"><b>The litle farm</b></h1><br>
            <div fxLayout="row wrap" fxLayoutAlign="space-around stretch" fxLayoutGap="10px">
                <div fxFlex="30">
                    <pre style="font-size: 1rem;">
Grow the freshest, tastiest veggies, fruits and herbs in 
your home. The Little Farm by Urban Cultivation. 
Chemical-free produce. No bugs, dirt or mess.'

The ‘Little Farm’ is the perfect piece of equipment for 
anyone looking into doing indoor farming at any scale. 
The LF-ONE is the safe, efficient vertical mini-farm 
that can be placed anywhere. 

It is a hydroponic system that can grow a large variety 
of plants - from edible and non-edible flowers, herbs, 
and micro-greens, to leafy greens, strawberries, and 
broccoli.
                    </pre>
                </div>
                <div fxFlex="40">
                    <img src="assets/little-farm-1.svg">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section3">
    <div class="third-section">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex="33">
                <h1 style="color:#A9D79E;padding-left: 40%">SIZE</h1>
                <pre>
            It’s called the ‘Little Farm’ for a reason. 
            The LF-ONE’s compact size makes it easy to 
            fit in various spaces indoors. You could 
            fit one in your kitchen! The LF-ONE 
            produces optimal amounts of produce 
            because of its vertical design. The plants 
            are stacked together vertically, making 
            optimum use of limited space.
                </pre>
            </div>
            <div fxFlex="33">
                <img src="assets/little-farm-2.svg">
            </div>
            <div fxFlex="33">
                <h1 style="color:#A9D79E;padding-left: 40%">VERTICAL &</h1>
                <h1 style="color:#A9D79E;padding-left: 40%;margin-top: -3%">HYDROPONIC</h1>
                <pre>
            Vertical farms like the LF-ONE minimise 
            water use and maximise productivity by 
            growing crops ‘hydroponically’ in small 
            amounts of nutrient-rich water stacked in 
            a controlled building. Less water is used 
            than what it would take to grow the same 
            crops in traditional soil-based farming.
                </pre>
            </div>
        </div>
    </div>
</section>

<section id="section4">
    <div class="fourth-section">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex="33">
                <img src="assets/little-farm-3.svg">
            </div>
            <div fxFlex="33">
                <h1 style="color:#A9D79E;padding-left: 40%">DESIGN</h1>
                <pre style="color: black">
            The LF-ONE’s frame is made from aluminium. 
            It is strong, of high quality and looks
            great! Not only is the LF-ONE easy to 
            assemble and use, but it also comes with 
            clear instructions anyone could follow. 
            The LF-One comes standard with a program 
            logic controller where you can set the 
            irrigation and LED grow light timers for 
            automation throughout the growth 
            process.
                </pre>
            </div>
            <div fxFlex="33">
                <img src="assets/little-farm-4.svg">
            </div>
        </div>
    </div>
</section>

<section id="section5">
    <div class="fifth-section">
        <h1 style="padding-left: 34%;font-size: 2rem;">ORDER YOUR OWN LITTLE FARM</h1>
        <mat-divider style="width: 10vw;height: 5vh;margin-left: 42%;   border-top-width: 1vh;color: white;"></mat-divider>
        <pre>
                                                                From educational projects and canteens to restaurants and homes, the LF-ONE 
                                                                fits in anywhere where you would like to produce healthy and nutritious plants 
                                                                within only 28 days of growth. LF-ONE is designed to remove contamination, 
                                                                without the need for pesticides or herbicides. The LF-ONE is the first of its
                                                                kind in South Africa. Be a part of the future of farming by getting one of your 
                                                                                                  own today.
        </pre>
        <button class="custom-button" style="width: 12vw;height: 8vh;margin-left: 42%">Buy Now</button>
    </div>
</section>