
.first-section {
    height: 110vh;
    margin-top: -10vh;
    background-image: url('/assets/little-farm-main.svg');
    -webkit-background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}

.second-section {
    color: black;
    height: 100vh;
}

.third-section {
    background-color: #304532;
    height: 66.5vh;
}

.fourth-section {
    background-color: #E3E8E0;
    height: 66.5vh;
}

.fifth-section {
    background-color: #304532;
    height: 100vh;
    padding-top: 5%
}

.custom-button-block {
    padding:0.6em 2em;
    border-radius: 60px;
    color:white;
    background-color:black;
    font-size:1.1em;
    cursor:pointer;
  }

.custom-button {
    padding:0.6em 2em;
    border-radius: 60px;
    color:#fff;
    background-color:transparent;
    font-size:1.1em;
    border-color: white;
    border: 0.25rem solid;
    cursor:pointer;
  }