
.first-section {
    height: 100vh;
    margin-top: -10vh;
    background-image: url('/assets/home-main.svg');
    -webkit-background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}

.second-section {
    height: 92vh;
    background-color: #304532;
    padding-top: 15%;
    padding-left: 15%;
}

.third-section {
    color: black;
}

.fourth-section {
    color: black;
}

.fifth-section {
    margin-top: 1%;
    height: 100vh;
    background-color: #304532;
    padding-top: 5%;
    padding-left: 5%;
}

.sixth-section {
    color: black;
    padding-left: 5%;
}

.seventh-section {
    height: 60vh;
    color: black;
    margin-top: 15%;
    margin-left: 15%;
}

.eigth-section {
    margin-top: 1%;
    height: 50vh;
    background-color: #304532;
    padding-top: 5%;
    padding-left: 5%;
}

.ninth-section {
    height: 50vh;
    color: black;
    padding-top: 5%;
    padding-left: 1%;
}