<section id="section1">
    <div class="first-section">
        <div fxLayout="row wrap" fxLayoutAlign="space-around stretch" fxLayoutGap="10px">
            <div fxFlex="40" fxFlex.lt-md="100">
                <div fxLayout="column" fxLayoutAlign="space-between stretch" style="height: 92vh;">
                    <h1 style="font-size: 4em;margin-top: 15%;"><b>FRESH TASTE</b></h1>
                    <div style="font-size: 2em;">
                        <span style="color:#49AD19">THOUSANDS</span> M2 OF LAND SAVED<br><br>
                        <span style="color:#49AD19">THOUSANDS</span> LITERS OF WATER SAVED
                    </div>
                </div>
            </div>
            <div fxFlex="40" fxFlex.lt-md="100">
                <div fxLayout="column" fxLayoutAlign="space-between stretch" >
                    <div style="bottom: 0">
                        <h1 style="font-size: 4em;margin-top: 92%;"><b>FOR PEOPLE</b></h1> <br>
                        <h1 style="font-size: 4em;"><b>AND PLANET</b></h1>
                    </div>
                </div>
            </div>
        </div>
        <a href="#section2" class="material-icons" style="margin-left: 45%; margin-right: 50%;color:#49AD19;height: 40px;">arrow_downward</a>
    </div>
</section>

<section id="section2">
    <div class="second-section">
        <h1 style="font-size: 6em;padding-top: 5%;padding-left: 10%;">Grow your own food,</h1> <br>
        <h1 style="font-size: 6em;margin-top: 5%;">cultivate your own garden,</h1> <br>
        <h1 style="font-size: 6em;margin-top: 5%;">and reclaim the space and</h1> <br>
        <h1 style="font-size: 6em;margin-top: 5%;padding-left: 15%;">power to do so.</h1> <br>
    </div>
</section>

<section id="section3">
    <div class="third-section">
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
            <div fxflex="50" fxFlex.lt-md="100" style="padding-top: 6%;padding-left: 8%;">
                <h2>HOW WE GROW</h2>
                <div>
                    <h2 style="font-size: 3.6em;margin-top: 15%;"><b>Cultivating</b></h2> <br>
                    <h2 style="font-size: 3.6em;"><b>Freshness, Inside</b></h2> <br>                     
                    <h2 style="font-size: 3.6em;"><b>and Out.</b></h2> <br>
                </div>
                <div>
                    <pre style="font-size: 1rem;">
Indoor agriculture is a method of growing 
plants inside controlled environments, using 
artificial light, temperature regulation, and 
other technologies to create optimal 
growing conditions. This allows farmers and 
growers to cultivate crops year-round, 
without the limitations of seasonal changes 
or weather conditions.
                    </pre>
                </div>
            </div>
            <div fxflex="50" fxFlex.lt-md="100">
                <img src="assets/home-plant.svg">
            </div>
        </div>
    </div>
</section>

<section id="section4">
    <div class="fourth-section">
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
            <div fxflex="50" fxFlex.lt-md="100" style="padding-top: 6%;padding-left: 8%;">
                <h2>OUR PRODUCTS</h2>
                <div>
                    <h2 style="font-size: 3.6em;margin-top: 15%;"><b>THE NEXT</b></h2> <br>
                    <h2 style="font-size: 3.6em;"><b>GENERATION OF</b></h2> <br>                     
                    <h2 style="font-size: 3.6em;"><b>SUPER CROPS</b></h2> <br>
                </div>
            </div>
            <div fxflex="50" fxFlex.lt-md="100" style="padding-top: 10%;padding-right: 20%;">
                <pre style="font-size: 1rem;">
                    We carefully select each variety of plant for 
                    its robustness, health, and adaptability to 
                    indoor growing conditions. Our plants are 
                    grown using the latest technologies and 
                    growing practices.

                    <b><mat-icon>arrow_forward</mat-icon>FIND IN STORE </b>
                </pre>
            </div>
            <div fxFlex="90" style="padding-left: 6%;">
                <carousel [cellsToShow]="3"
                    [images]="images">
                </carousel>
            </div>
        </div>
    </div>
</section>


<section id="section5">
    <div class="fifth-section">
        <h1 style="font-size: 2em;padding-left: 1%;">OUR PROCESS</h1> <br>
        <h1 style="font-size: 4em;padding-top: 2%;">OUR ADVANCED FARMING</h1> <br>
        <h1 style="font-size: 4em;margin-top: 2%;">SYSTEM SETS A FOUNDATION</h1> <br>
        <h1 style="font-size: 4em;margin-top: 2%;">FOR A MORE SUSTAINABLE,</h1> <br>
        <h1 style="font-size: 4em;margin-top: 2%;">EFFICIENT AND</h1> <br>
        <h1 style="font-size: 4em;margin-top: 2%;">ENVIRONMENTALLY FRIENDLY</h1> <br>
        <h1 style="font-size: 4em;margin-top: 2%;">FOOD SYSTEM.</h1> <br>
        <b><mat-icon>arrow_forward</mat-icon>OUR VISION </b>
    </div>
</section>


<section id="section6">
    <div class="sixth-section">
        <h2 style="font-size: 3.6em;margin-top: 5%;"><b>FROM SEED TO TASTE</b></h2> <br>
        <span style="font-size: 1.6em;">Experience the full cycle of flavor with our carefully grown and curated selection of indoor plants</span>
        <img src="assets/home-seed.svg" style="margin-top: 2%;">
    </div>
</section>



<section id="section7">
    <div class="seventh-section">
        <pre style="font-size: 1.6rem;margin-left: 5%;">
    "Plant the seeds of hard work and dedication, and

      you will reap a bountiful harvest of success."

                    <b>- Julie Finn</b>
        </pre>
    </div>
</section>


<section id="section8">
    <div class="eigth-section">
        <h1 style="font-size: 6em;padding-top: 2%;margin-left: 25%">GET IN TOUCH</h1> <br>
        <h1 style="font-size: 6em;margin-top: 2%;margin-left: 32%">WITH US</h1> <br>
        <h1 style="font-size: 2em;margin-top: 2%;margin-left: 35%"><mat-icon style="transform: scale(1.5);">arrow_forward</mat-icon> CONTACT US </h1> <br>
    </div>
</section>

<section id="section9">
    <div class="ninth-section">
        <h1 style="font-size: 10em;padding-top: 2%;width: 100%;  letter-spacing: 62px;">GREEN HOME</h1>
    </div>
</section>

